extends docwrapper.jade

block title
	|  Using Ajax to search a Record with PHP, MySQL and jQuery (Look and Feel by Bootstrap)

block panel-title
		span.glyphicon.glyphicon-th-list 
		|  Employee Search